.bucket-sync {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem;

    &__bucket-sync {
        width: 48rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4rem;
    }

    &__progress {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 2rem;

        > div {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            gap: 1rem;
            max-width: 8rem;
            width: 100%;
            cursor: pointer;

            &::before {
                content: "";
                position: absolute;
                top: 1.5rem;
                left: 0;
                transform: translate(-1.25rem, -50%);
                height: 0.5rem;
                width: calc(100% + 2.5rem);
                background-color: #808080;
                border-radius: 1rem;
                z-index: -2;
            }

            > .icon {
                background-color: #e0e0e0;
                color: #303030;
                box-shadow: 0 0 1rem 0 #00000080;

                font-size: 1.5rem;
                width: 3rem;
                height: 3rem;
                border-radius: 50%;

                display: flex;
                justify-content: center;
                align-items: center;
            }

            &.active {
                &::before {
                    background-color: #ffffff;
                    z-index: -1;
                }

                > .icon {
                    background-color: #ffffff;
                }
            }

            &:hover {
                > .icon {
                    background-color: #c0c0c0;
                }

                p {
                    color: #c0c0c0;
                }
            }

            &:active {
                > .icon {
                    background-color: #a0a0a0;
                }

                p {
                    color: #a0a0a0;
                }
            }
        }
    }

    &__body {
        width: 100%;
    }

    .google {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4rem;
        padding: 2rem 0;

        &__sign-in {
            background-color: #ffffff;
            border-radius: 0.5rem;
            color: #303030;
            font-family: inherit;
            border: none;
            outline: none;
            display: flex;
            gap: 2rem;
            padding: 1rem;
            align-items: center;
            cursor: pointer;

            img {
                height: 2.5rem;
            }

            &:hover {
                background-color: #e0e0e0;
            }

            &:active {
                background-color: #c0c0c0;
            }
        }
    }

    .project {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4rem;
        padding: 2rem 0;

        &__list {
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 1rem;

            p {
                cursor: pointer;
                color: #c0c0c0;

                &:hover {
                    color: #e0e0e0;
                }

                &:active {
                    color: #ffffff;
                }

                &.active {
                    color: #ffffff;
                }
            }
        }
    }

    .bucket {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4rem;
        padding: 2rem 0;

        &__list {
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 1rem;

            p {
                cursor: pointer;
                color: #c0c0c0;

                &:hover {
                    color: #e0e0e0;
                }

                &:active {
                    color: #ffffff;
                }

                &.active {
                    color: #ffffff;
                }
            }
        }
    }

    .folder {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4rem;
        padding: 2rem 0;

        &__body {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 4rem;
            width: 100%;
        }

        label {
            display: flex;
            gap: 2rem;
            width: 100%;
        }

        input {
            border: 0.125rem solid #ffffff;
            background-color: #ffffff;
            color: #303030;
            font-size: 1.2rem;
            padding: 0.5rem 1rem;
            font-family: inherit;
            border-radius: 0.5rem;
            flex-grow: 3;
        }

        button {
            border: 0.125rem solid #ffffff;
            background-color: #303030;
            color: #ffffff;
            font-size: 1.2rem;
            padding: 0.5rem 2rem;
            font-family: inherit;
            border-radius: 0.5rem;
            flex-grow: 1;
            cursor: pointer;
            display: flex;
            gap: 1rem;
            align-items: center;
            justify-content: center;
        }
    }

    .yippee {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4rem;
        padding: 2rem 0;

        &__head {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            text-align: center;
        }

        &__body {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 4rem;
        }

        &__logs {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            border: 0.125rem solid #505050;
            padding: 2rem;
            border-radius: 1rem;
            width: 100%;
        }

        &__logs:empty {
            display: none;
        }

        button {
            border: 0.125rem solid #ffffff;
            background-color: #303030;
            color: #ffffff;
            font-size: 1.2rem;
            padding: 0.5rem 2rem;
            font-family: inherit;
            border-radius: 0.5rem;
            cursor: pointer;
            display: flex;
            gap: 1rem;
            align-items: center;
            justify-content: center;
            width: fit-content;
        }
    }
}
