@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
    box-sizing: border-box;
}

body {
    background-color: #303030;
    color: #ffffff;
    font-family: "Rubik", sans-serif;
    margin: 0;
}

h1 {
    font-size: 2.986rem;
}
h2 {
    font-size: 2.488rem;
}
h3 {
    font-size: 2.074rem;
}
h4 {
    font-size: 1.728rem;
}
h5 {
    font-size: 1.44rem;
}
h6,
span {
    font-size: 1.2rem;
}
p {
    font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}
